{% if style == "images on left" %}
	{% set txt_order = 'order-2' %}
	{% set images_order = 'order-1' %}
	{% set margin = 'right' %}
	{% set img2_margin = 'me-auto' %}

{% else %}
	{% set txt_order = 'order-1' %}
	{% set images_order = 'order-2' %}
	{% set margin = 'left' %}
	{% set img2_margin = 'ms-auto' %}
{% endif %}

<div {{ attributes.addClass('images-parallax ' ~ container) }}>
	<div class="row">
		<div class="col-lg-6 col-12 {{images_order}}">
			<div class="images-inner">
				{% if sticker.0 in not empty %}			
					<div class="sticker-box" style="{{margin}}:35px">
						<div class="content-box-inner">{{sticker}}</div>
					</div>
				{% endif %}
				<div class="image-1 rellax" style="{{margin}}:0" data-rellax-speed="1"> {% block image1 %}{% endblock %}	</div>
				<div class="image-2 {{img2_margin}} rellax" data-rellax-speed="0"> {% block image2 %}{% endblock %}</div>
			</div>			
		</div>
		<div class="col-lg-6 col-12 {{txt_order}}">
			<div class="content-inner">
				<h4 class="sub-title" data-aos="fade-up" data-aos-delay="100" data-aos-duration="4000">{{ subtitle }}</h4>
				<h1 class="title" data-aos="zoom-in-up" data-aos-delay="300"><span>{{span_title}}</span>{{ title }}</h1>
				<div class="content" data-aos="fade-up" data-aos-delay="500">{% block content %}{% endblock %}</div>				
				{% if video.0 is not empty %}
					{{ include('dafr_sub_barrio:play_video', {
						'video_link' : video.0,}, with_context = false) }}
				{% endif %}
			</div>
		</div>
	</div>	
</div>


