{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block_id-' ~ plugin_id|clean_class,
  ]
%}

{# {% set bg_image_url = '' %}
{% if content.field_bg_image is not empty and content.field_bg_image.0['#item'] is defined and content.field_bg_image.0['#item'].entity.uri.value is defined %}
	{% set bg_image_url = file_url(content.field_bg_image.0['#item'].entity.uri.value) %}
{% endif %} #}

{# 
Zmienne z pliku .theme
container_key,align_key,vlign_key, 
#}

{% set parallax_style = content.field_parallax.0['#markup'] == "Włączony" ? 'rellax' : '' %}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    {# <h2{{title_attributes}}>{{ label }}</h2> #}
  {% endif %}
  {{ title_suffix }}

		{% embed 'dafr_sub_barrio:banner' with {
			attributes: create_attribute(),       
      'container' : container_key,
      'subtitle': content.field_subtitle, 
      'title': content.field_title.0, 
      'span_title' : content.field_spantitle.0,       
      'content_align' : align_key, 
      'content_valign' : valign_key,
      'text_color': content.field_text_color.0,
      'bg_color': content.field_bg_color.0,
      'height' : content.field_height.0,
      'width' : content.field_width.0,
      'parallax' : parallax_style
		} %}
			{% block content %}
				{{ content.field_body }}
			{% endblock %}
      {% block image %}
				{{ content.field_bg_image }}
			{% endblock %}
		{% endembed %}
</div>

