{% set random_id = random() %}


{% if attributes -%}
   <div{{ attributes }} id="filterizr" >
{% endif %}
   
   {% if title %}
      <h3>{{ title }}</h3>
   {% endif %}
  
  <nav class="filter-buttons">
    <ul class="nav nav-tabs">
      {% if show_all %}
        <li><a class="btn btn-filterizr all active " href="#" data-filter="all"><span>{{'All'|t}}</span></a></li>
      {% endif %}

      {% for term in terms %}
        <li><a href="#" class="btn btn-filterizr" data-filter="{{term.name}}"><span>{{term.name}}</span></a></li>
      {% endfor %}
    </ul> 
  </nav> 

  {# <div class="dafr-filterizr-items filtr-container clearfix"> #}
    <div class="filtr-container row">

        {% for row in rows %}          
            {{ row.content|raw }}          
        {% endfor %}  
    </div>
  {# </div>   #}
   
{% if attributes -%}
    </div>
{% endif %}
